<button routerLink="/admin" style="background: #007bff; color: white; border: none; padding: 0.5rem 1rem; border-radius: 5px; cursor: pointer; margin-bottom: 1rem;">← Back to Admin</button>
<h2>Add New Server</h2>

<form (ngSubmit)="addServer()">
  <label>Name: <input type="text" [(ngModel)]="full_name" name="name" required /></label><br />
  <label>Grade: <input type="number" [(ngModel)]="grade" name="grade" min="1" required /></label><br />
  <label>Email: <input type="email" [(ngModel)]="email" name="email" /></label><br />
  <label>Phone Number: <input type="tel" [(ngModel)]="phone_number" name="phone" /></label><br />
  <!-- <label>Server Since: <input type="date" [(ngModel)]="server_since" name="since" /></label><br /><br /> -->

  <button type="submit">Add Server</button>
</form>

<p *ngIf="successMessage" style="color:green">{{ successMessage }}</p>
<p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p>
